@page "/weather-cache-control"
@using System.Text.Json
@rendermode InteractiveServer
@inject IJSRuntime Js

<PageTitle>Cache-Control Demo</PageTitle>    

<h1>Cache-Control Demo</h1>

<p>
    <input id="cache-option" type="checkbox" @bind="_useCache" />
    <label for="cache-option">use cache</label>
</p>

<p>
    <button @onclick="CallWeather">Call Weather</button>
</p>

<p>
        <pre>@_text</pre>
</p>

@code {
    private string _text = "";
    private bool _useCache = true;

    private async Task CallWeather()
    {
        _text = "Loading...";
        var wrs = await Js.InvokeAsync<JsonElement>(
            "fetchWeatherCacheControl",
            new {cache = _useCache ? null : "no-cache" });
        _text = JsonSerializer
            .Serialize(
                wrs,
                new JsonSerializerOptions
                {
                    WriteIndented = true,
                    PropertyNamingPolicy = JsonNamingPolicy.CamelCase
                }
            );
    }
}
