@page "/weather-etag"
@using System.Text.Json
@rendermode InteractiveServer
@inject IJSRuntime Js

<PageTitle>ETag Demo</PageTitle>    

<h1>ETag Demo</h1>

<p>
    <label for="etag">ETag:</label>
    <input id="etag" class="etag" type="text" @bind="_eTag"/>
    <button @onclick="CallWeather">Call Weather</button>
</p>

<p>
        <pre>@_text</pre>
</p>

@code {
    private string _eTag = "";
    private string _text = "";

    private async Task CallWeather()
    {
        _text = "Loading...";
        var wrs = await Js.InvokeAsync<JsonElement>("fetchWeatherEtag", new {eTag = _eTag});
        _text = JsonSerializer
            .Serialize(
                wrs,
                new JsonSerializerOptions
                {
                    WriteIndented = true,
                    PropertyNamingPolicy = JsonNamingPolicy.CamelCase
                }
            );
    }
}
