@page "/weather-output-cache"
@using System.Text.Json
@attribute [OutputCache(Duration = 5)]
@inject WeatherApiClient Api

<PageTitle>Output Cache Demo</PageTitle>

<h1>Output Cache Demo</h1>

<p>
    <pre>@_text</pre>
</p>

@code {
    private string? _text;

    protected override async Task OnInitializedAsync()
    {
        var weather = await Api.GetWeatherAsync();
        _text = JsonSerializer
            .Serialize(
                weather,
                new JsonSerializerOptions
                {
                    WriteIndented = true,
                    PropertyNamingPolicy = JsonNamingPolicy.CamelCase
                }
            );
    }
}
